@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #E4E5EA;
  background: #0E1014;
  font-family: Inter, serif;
}

h3 {
  color: #656566;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  margin-top: 46px;
  height: 73px;
}
.header__container {

}
.header__box {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: clamp(1.875rem, -10.263rem + 18.97vw, 3.25rem);
  font-weight: 500;
}
.header__logo {
  height: 24px;
  width: 140px;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__nav-list {
  display: flex;
  gap: clamp(1rem, 0.375rem + 3.13vw, 1.875rem);
}
.header__nav-item {
  font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
}
.header__contacts {
  display: flex;
  gap: 47px;
  font-weight: 500;
}
.header__tel {

}
.header__social-list {
  display: flex;
  gap: 30px;
}
.header__social-item {
  width: 20px;
  height: 20px;
}
.header__social-item img {
  width: 100%;
  height: 100%;
}
.header__text {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 1024px) {
  .header__contacts {
    display: none;
  }
  .header__nav {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0;
    height: auto;
    background: #0E1014;
  }
  .header__box {
    margin: 0;
  }
  .header__nav {
    justify-content: center;
    text-transform: uppercase;
    padding: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem) 0;
  }
  .header__nav-item:last-child {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__text {
    display: none;
  }
}

.main {

}

/* Hero */

.hero {
  padding: 90px 0 70px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  max-width: 362px;
}
.hero__title span {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.hero__text {
  font-size: 18px;
  line-height: 22px;
  max-width: 275px;
}
.hero__consult {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__consult-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
.hero__consult-text span {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
}
.hero__consult-list {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 330px;
}
.hero__consult-item {
  width: calc(50% - 15px);
}
.hero__consult-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.hero__consult-item-title_mobile {
  display: none;
}
.hero__consult-item-text {
  margin-top: 6px;
  line-height: 20px;
  text-align: right;
}
.hero__consult-btn {
  display: inline-block;
  margin-top: 60px;
  padding: 21px 35px;
  background: #4077F3;
}